.SearchBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('./Resources/normal-background-blur.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 35.6rem;
}

.SearchBar-sort-options ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-bottom: 2.22rem;
    padding-right: 2rem;
    color: #ffffff;
}

.SearchBar-sort-options li {
    cursor: pointer;
    width: 6rem;
    border-bottom: 1px solid #fff;
    /*text-decoration-line: underline;
    text-decoration-color: rgb(255, 255, 255);*/
    padding: 0 3rem .33rem 2.0rem;
    line-height: 1.13;
    text-align: center;
    font-weight: 200;
    font-size: 1.5rem;
    transition: color .5s;
}

.SearchBar-sort-options li.active {
    color: #5dc728;
    border-bottom: 1px solid #5dc728;
}

.SearchBar-sort-options li:hover {
    color: #5dc728;
    border-bottom: 1px solid #5dc728;
}

.SearchBar-sort-options li:active {
    color: #184601;
    border-bottom: 1px solid #184601;
}

.SearchBar-fields {
    display: flex;
    justify-content: center;
    margin-bottom: 2.88rem;
}

.SearchBar-fields input {
    width: 12rem;
    padding: .66rem 1rem;
    margin-right: 2.22rem;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: .77rem;
    font-weight: 500;
    -webkit-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

.SearchBar-fields input:focus {
    width: 20rem;
    background-color: rgb(236, 226, 226);
}

.SearchBar-fields input:last-child {
    margin-right: 0;
}

.SearchBar-submit {
    text-align: center;
}

.SearchBar-submit button {
    border-radius: 3px;
    border: none;
    padding: .82rem 1.9rem;
    background-color: #cca353;
    color: #ffffff;
    font-weight: 600;
    transition: background-color .5s;
}

.SearchBar-submit button:hover {
    cursor: pointer;
    background-color: #a7874b;
}

@media only screen and (max-width: 600px) {
    .SearchBar {
        background-image: url('./Resources/mobile-background-1mb.jpg');
    }

    .SearchBar-sort-options ul {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .SearchBar-fields {
        flex-direction: column;
        align-items: center;
    }

    .SearchBar-fields input {
        margin-right: 0;
        margin-bottom: .86rem;
    }
}