.Business {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 16.66rem;
    margin: 0 .5rem 2.3rem .5rem;
}

/* for all className with image-container under the parent className Business (Without comma is different from comma) */
.Business .image-container {
    height: 1rem;
    margin-bottom: 200px;
    object-fit: cover;
}

.image-wrapper {
    position: relative;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.image-wrapper .image-in-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }

.Business h2 {
    margin-bottom: .5rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.Business-information {
    display: flex;
    justify-content: space-between;
}

.Business-information p {
    font-size: .88rem;
    font-weight: 300;
    line-height: 1rem;
}

.Business-address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Business-reviews {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
}

.Business-reviews h3 {
    color: #665858;
    font-weight: 600;
}

.Business-reviews .rating {
    font-size: .88rem;
    line-height: 1rem;
}